.sec {
  display: flex;
  flex-direction: column;

  margin: 50px 0px;
  @include breakpoint(s) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.pair {
  display: flex;
  flex-direction: column-reverse;
  @include breakpoint(s) {
    flex-direction: row;
  }
}

.sms {
  border: 2px #0f246d solid;
  padding: 15px;
}

footer {
  background: black;
  color: white;
  font-size: 0.8rem;
  padding: 20px;
}

input {
  outline: none;
  border: none;
  border-bottom: 2px solid #0f246d;
  background: #fbfbfb;
}

.lescv {
  display: flex;
  overflow-x: scroll;
  padding: 50px 10px;
  img {
    height: 500px;
    margin: 0px 30px;
    box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.35);
    &:hover {
      box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.75);
      cursor: pointer;
    }
  }
}

.cvup {
  margin-top: 70px;
  text-align: center;
  position: relative;
  img {
    margin: auto;
    box-shadow: 0px 4px 20px rgba(189, 188, 188, 0.35);
  }
}

.arleft {
  position: absolute;
  top: -10%;
  left: 20%;

  @include breakpoint(s) {
    top: 50%;
    left: -10%;
  }
  @include breakpoint(m) {
    top: 50%;
    left: 0%;
  }

  width: 40px;

  &:hover {
    cursor: pointer;
  }
}

.arright {
  position: absolute;
  top: -10%;
  right: 20%;

  @include breakpoint(s) {
    top: 50%;
    right: -10%;
  }
  @include breakpoint(m) {
    top: 50%;
    right: 0%;
  }

  width: 40px;
  &:hover {
    cursor: pointer;
  }
}

.video {
  width: 100%;
  @include breakpoint(s) {
    width: 60%;
  }
}

.mainvid {
  width: 100%;
  @include breakpoint(s) {
    width: 80%;
    margin-left: 20%;
    margin-top: 50px;
  }
}

.header-content {
  margin-left: 30%;
  width: 230px;
  @include breakpoint(s) {
    margin-left: 60%;
    width: 270px;
  }
  @include breakpoint(m) {
    margin-left: 70%;
    width: 270px;
  }
  @include breakpoint(l) {
    margin-left: 70%;
    width: 270px;
  }
  @include breakpoint(xl) {
    margin-left: 80%;
    width: 270px;
  }
}

.text {
  @include breakpoint(s) {
    margin: 50px;
  }
}
